.App {
  user-select: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 16px;
  background-color: #1d2021;
  color: #ebdbb2;
}

.MainContent {
  background-color: #282828;
  display: flex;
  flex-direction: column;
  display: flex;
  flex: 1;
  height: 100%;
  border-radius: 8px;
}

.AlbumList {
  overflow-y: auto;
  flex-grow: 1;
}

.Album {
  padding: 4px;
  margin: 16px;
  width: 680px;
}

.AlbumTitleContainer {
  background-color: #fe8019;
  color: #282828;
  padding: 8px;
  border-radius: 8px 8px 0px 0px;
  flex-direction: row;
  display: flex;
}

.AlbumTitle {
  display: flex;
  font-weight: bold;
}

.AlbumTitleContainer div {
  margin-right: 4px;
}

.AlbumTrack {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  padding: 6px;
  background-color: #ebdbb2;
  color: #282828;
  border: 2px solid transparent;
  cursor: pointer;
}

.AlbumTrack:last-child {
  border-radius: 0px 0px 8px 8px;
}

.AlbumTrackPlaying {
  background-color: #8ec07c;
  border: 2px solid #8ec07c;
}

.AlbumTrack:hover {
  background-color: #fbf1c7;
}

.TrackNumber {
  display: flex;
  flex-direction: column;
  width: 36px;
  height: 36px;
  text-align: center;
  background-color: #d5c4a1;
  align-self: center;
  align-content: center;
  justify-content: center;
  margin-right: 8px;
}

.TrackTitle {
  font-weight: bold;
  font-size: 90%;
}

.TrackUri {
  font-size: 75%;
}

.Transport {
  background-color: #8ec07c;
  border-radius: 8px;
  color: #282828;
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.TransportButton {
  box-sizing: border-box;
  background-color: #ebdbb2;
  border: 1px solid #d65d0e;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 4px;
  margin-right: 8px;
  cursor: pointer;
}

.TransportTimeContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.TransportButtonContainer {
  display: flex;
  flex-direction: row;
}

.TransportSeekBarContainer {
  display: flex;
  flex: 1;
  height: 16px;
  border: 1px solid #d65d0e;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 4px;
  padding: 2px;
  border-radius: 4px;
}

.TransportSeekBar {
  height: 100%;
  width: 100%;
  background-color: #d65d0e;
  border-radius: 4px;
}

.TransportButton:hover {
  background-color: #fbf1c7;
}

.TransportTrackTitle {
  font-weight: bold;
  margin-bottom: 4px;
}

.TransportDuration {
  font-family: "monospace";
}