:root {
  --color-light: #d5c4a1;
  --color-lighter: #ebdbb2;
  --color-lightest: #fbf1c7;
  --color-dark: #3c3836;
  --color-darker: #282828;
  --color-darkest: #1d2021;
  --color-light-blue: #83a598;
  --color-dark-blue: #458588;
  --color-light-orange: #fe8019;
  --color-dark-orange: #d65d03;
  --color-light-cyan: #8ec07c;
  --color-dark-cyan: #689d6a;
  --color-light-green: #b8bb26;
  --color-dark-green: #98971a;
  --color-light-purple: #d3869b;
  --color-dark-purple: #b16286;
  --color-light-yellow: #fabd2f;
  --color-dark-yellow: #d79921;
  --color-light-red: #fb4934;
  --color-dark-red: #cc241d;

  --border-radius-large: 8px;
  --border-radius-medium: 4px;
  --border-radius-small: 2px;

  --spacing-xlarge: 16px;
  --spacing-large: 8px;
  --spacing-medium: 4px;
  --spacing-small: 2px;
}

.App {
  user-select: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: var(--spacing-large);
  display: flex;
  align-items: center;
  justify-content: center;
}

.MainContent {
  background-color: var(--color-darkest);
  display: flex;
  flex-direction: column;
  display: flex;
  flex: 1;
  height: 100%;
  border-radius: var(--border-radius-large);
  max-width: 680px;
}

.AlbumList {
  overflow-y: auto;
  flex-grow: 1;
}

.Album:first-child {
  margin-top: var(--spacing-large);
}

.Album:last-child {
  margin-bottom: var(--spacing-large);
}

.Album {
  padding: var(--spacing-medium);
  margin: var(--spacing-large);
  margin-top: var(--spacing-medium);
  margin-bottom: var(--spacing-medium);
}

.AlbumTitleContainer {
  background-color: var(--color-dark-blue);
  color: var(--color-lightest);
  padding: var(--spacing-large);
  border-radius: var(--border-radius-large) var(--border-radius-large) 0px 0px;
  flex-direction: row;
  display: flex;
}

.AlbumTitle {
  display: flex;
  font-weight: bold;
}

.AlbumTitleContainer div {
  margin-right: var(--spacing-medium);
}

.AlbumTrack {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  padding: var(--spacing-medium);
  border: 2px solid transparent;
  cursor: pointer;
  color: var(--color-darkest);
  background-color: var(--color-lighter);
}

.AlbumTrack:hover {
  background-color: var(--color-light);
}

.AlbumTrack:last-child {
  border-radius: 0px 0px var(--border-radius-large) var(--border-radius-large);
}

.AlbumTrackPlaying {
  background-color: var(--color-lightest);
  border: 2px solid var(--color-light-cyan);
}

.TrackNumber {
  display: flex;
  flex-direction: column;
  width: 36px;
  height: 36px;
  text-align: center;
  background-color: var(--color-light);
  align-self: center;
  align-content: center;
  justify-content: center;
  margin-right: var(--spacing-large);
}

.TrackTitle {
  font-weight: bold;
  font-size: 90%;
  flex: 1;
}

.TrackTitleRow {
  display: flex;
  flex-direction: row;
}

.TrackTitleRow div {
  margin-right: var(--spacing-medium);
}

.TrackTag {
  font-size: 65%;
  padding: var(--spacing-small);
  padding-left: var(--spacing-large);
  padding-right: var(--spacing-large);
  border-radius: var(--border-radius-large);
  background-color: var(--color-light-orange);
  border: 1px solid var(--color-dark-orange);
  text-align: center;
  justify-items: center;
  min-width: 32px;
}

.TrackUri {
  font-size: 75%;
}

.Transport {
  background-color: var(--color-light-green);
  border-radius: var(--border-radius-large);
  color: var(--color-darkest);
  padding: var(--spacing-large);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.TransportButton {
  box-sizing: border-box;
  background-color: var(--color-lighter);
  border: 1px solid var(--color-dark-blue);
  padding-left: var(--spacing-xlarge);
  padding-right: var(--spacing-xlarge);
  padding-top: var(--spacing-medium);
  padding-bottom: var(--spacing-medium);
  border-radius: var(--border-radius-medium);
  margin-right: var(--spacing-large);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.TransportButtonInner {
  text-align: center;
}

.TransportButton :last {
  margin-right: 0;
}

.TransportTimeContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: var(--spacing-medium);
  justify-content: center;
  align-items: center;
}

.TransportButtonSpacer {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.TransportButtonContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.TransportButton:hover {
  background-color: var(--color-lightest);
}

.TransportNavigationButtonContainer {
  display: flex;
}

.TransportTrackTitle {
  margin-bottom: var(--spacing-medium);
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
  flex-wrap: wrap;
}

.TransportTrackTitle div {
  margin-right: var(--spacing-medium);
}

.TransportTrackSeparator {
  font-size: 75%;
}

.TransportTrackMetadata {
  font-weight: bold;
}

.TransportDuration {
  font-family: "monospace";
  font-size: 85%;
  font-weight: bold;
}

@media screen and (max-width: 532px) {
  .HideIfTooSmall {
    display: none;
  }

  .TransportNavigationButtonContainer {
    flex: 1;
    justify-content: center;
  }

  .TransportButtonSpacer {
    flex: unset;
  }
}

.RepeatButtonContainer {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
}

.VolumeSeekBarContainer {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
  font-size: 75%;
}

.VolumeSeekBar {
  max-width: 50%;
}

.RepeatButton {
  font-size: 75%;
  padding-left: var(--spacing-medium);
  padding-right: var(--spacing-medium);
  padding-top: var(--spacing-small);
  padding-bottom: var(--spacing-small);
  border-radius: var(--border-radius-medium);
  margin-right: var(--spacing-large);
}

.SeekBarContainer {
  display: flex;
  flex: 1;
  height: 8px;
  border: 1px solid var(--color-dark-blue);
  margin-left: var(--spacing-large);
  margin-right: var(--spacing-large);
  padding: var(--spacing-small);
  border-radius: var(--border-radius-medium);
}

.SeekBar {
  height: 100%;
  width: 100%;
  background-color: var(--color-dark-blue);
  border-radius: var(--border-radius-medium);
}

.Flex1 {
  flex: 1;
}